div(ng-controller='ArtistDetailCtrl')
  .navbar-wrapper
    .container
      .navbar.navbar-inverse.navbar-static-top(role='navigation')
        .container
          .navbar-header
            a.navbar-brand(href='/home') Barnstormer Music
          .navbar-collapse.collapse
            ul.nav.navbar-nav

  .container.main
    .row
      .col-md-9
        h1 {{artist.name}}
        .row
          .col-md-5
            img.img-thumbnail.img-responsive(ng-src="{{artist.image}}")
          .col-md-7
            p(ng-bind-html="artist.bio")

            h4 Tags
            div.artist-tags
              button.btn.btn-sm(ng-repeat="tag in artist.tags") {{tag}}
        br
        br
        h2 Albums
        .row
          .col-md-4
            div(ng-repeat="album in albums[0]")
              div.thumbnail
                img.img-responsive(ng-src="{{album.image}}")
                h3 {{album.name}}
          .col-md-4
            div(ng-repeat="album in albums[1]")
              div.thumbnail
                img.img-responsive(ng-src="{{album.image}}")
                h3 {{album.name}}
          .col-md-4
            div(ng-repeat="album in albums[2]")
              div.thumbnail
                img.img-responsive(ng-src="{{album.image}}")
                h3 {{album.name}}
      .col-md-3
        .well
          h3 Similar Artists
          div(ng-repeat="similar in artist.similar")
            a.thumbnail(href="{{similar.url}}")
              img.img-responsive(ng-src="{{similar.image}}")
              h3 {{similar.name}}


