div(ng-app='homePageApp', ng-controller='HomePageCtrl')
  .navbar-wrapper
    .container
      .navbar.navbar-inverse.navbar-static-top(role='navigation')
        .container
          .navbar-header
            a.navbar-brand(href='#') Barnstormer Music
          .navbar-collapse.collapse
            ul.nav.navbar-nav
              li.active

  .container.artists
    .row 
      .col-md-4
        div Album 1
      .col-md-4
        div Album 2
      .col-md-4
        div Album 3
