@import 'nib'

body
  padding-bottom: 40px;
  color: #5a5a5a;

.navbar-wrapper
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;

// Flip around the padding for proper display in narrow viewports 
.navbar-wrapper .container
  padding-left: 0;
  padding-right: 0;

.navbar-wrapper .navbar
  padding-left: 15px;
  padding-right: 15px;

.container.artists
  padding-top: 100px

// RESPONSIVE CSS
@media (min-width: 768px)
  .navbar-wrapper
    margin-top: 20px;
  
  .navbar-wrapper .container
    padding-left:  15px;
    padding-right: 15px;
  
  .navbar-wrapper .navbar
    padding-left:  0;
    padding-right: 0;
  
  .navbar-wrapper .navbar
    border-radius: 4px;

// Makes use of nib gradients to avoid having to manage all the vendor prefixes ourselves
.btn-dark
  background-color: hsl(0, 0%, 16%) !important
  background-repeat: repeat-x
  background: linear-gradient(top, #5b5b5b, #282828)
  border-color: #282828 #282828 hsl(0, 0%, 11%)
  color: #fff !important
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33)